@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
}

#user-list table {
    width: 100%;
    border-collapse: collapse;
}

#user-list th,
#user-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#user-list th {
    background-color: #f8f9fa;
}

#user-list tr:hover {
    background-color: #f1f1f1;
}